@page "/alert"
<PageTitle>Alert</PageTitle>
<h3>Call JS</h3>
<button class="btn btn-outline-info" @onclick="ShowAlertInWindows">Click fill info!</button>
<hr />
<button class="btn btn-outline-info" @onclick="RegisterEmail">Enter email fill info!</button>
<h4>@registerResult</h4>
<hr />
<button class="btn btn-outline-info" @onclick="ReturnObjectAlert">Enter Info fill info!</button>
<h4>@returnobject</h4>
<hr />
<button class="btn btn-outline-primary" @onclick="CallJavaScriptFunction">Enter Info fill info!</button>
<h4 id="string-result"></h4>
